.eight.wide.column(align='center')
  article.grey-text
    h3 Siswa
    p.text-justify
      | Memulai petualangan sebagai siswa, anda dapat mendapatkan materi pembelajaran dengan menyenangkan, berkonsultasi dengan guru pada sekolah, dan membutuhkan kode kelas untuk mendaftar.
    a.big.ui.button(href='/public/daftar/siswa',style='background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;')
      | Daftar
.eight.wide.column(align='center')
  article.grey-text
    h3 Guru
    p.text-justify
      | Memulai petualangan sebagai guru, anda dapat memberikan materi kepada siswa dan membimbing siswa di kelas anda. Anda juga dapat memberikan kode kelas untuk siswa dapat bergabung dalam kelas.
    a.big.ui.button(href='/public/daftar/guru',style='background: linear-gradient(141deg, #e74c3c 10%, #c0392b 51%, #c0392b 75%);color:#FFFFFF;')
      | Daftar
