extends templates/publicTemplate

block navigasi
  a(class='item',href='/')
    img(class='ui small image',src='/images/vidyanusa.png')
  .right.menu
    a(class='item grey-text',href='/tentang')
      aside(class='grey-text') Tentang Vidyanusa
    a(class='item grey-text',href='/masuk')
      aside(class='grey-text') Masuk
    a(class='item grey-text',href='/daftar')
      aside(class='grey-text') Daftar


block content
  .ten.wide.column(align='center')
    article(class='carousel-introduction')
      div
        img(src='/images/product-carousel-1.png',class='ui image large')
      div
        img(src='/images/product-carousel-2.png',class='ui image large')
  .six.wide.column.white-text
    h1 Selamat Datang
    p Ayo lanjutkan petualanganmu!
    form(class='ui form',method='post',action='/masuk')
      div(class='required field')
        input(type='text',placeholder='Email atau Username',ng-model='inputUsername',name='email')
      div(class='required field')
        input(type='password',placeholder='Sandi',ng-model='inputPassword',name='sandi')
        input(type='hidden',name='link',value=''+link+last)
      div(class='required field')
        button(type='submit',class='huge ui button button-submit',style='background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;') Kirim
        a(href='/atur_ulang_sandi',class='white-text') Lupa sandi? Atur ulang disini
