doctype html
html(lang='en')
  head
    title Vidyanusa | #{title}
    link(rel='shortcut icon', href='/images/shortcut-icon.png')
    link(rel='stylesheet', href='/dist/semantic.css')
    link(rel='stylesheet', href='/stylesheets/custom-grid.css')
    link(rel='stylesheet', type='text/css', href='DataTabel/media/css/jquery.dataTables.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
    script(src='/javascripts/angular/dashboard.js')
    script(src='/dist/semantic.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    script(type='text/javascript', src='/DataTabel/media/js/jquery.dataTables.min.js')
  body(ng-app='dashboardApp',ng-controller='controllerGetProfile')
    section.ui.container
      nav.ui.secondary.pointing.menu
        block navigasi
      main
        .ui.equal.width.grid
          .column
            .ui.segment
              .ui.middle.aligned.divided.list
                .item(style='padding:1em;')
                  .content
                    a.grey-text(href='http://blog.vidyanusa.id/',target='_blank')
                      i.write.icon
                      | Blog
                .item(style='padding:1em;')
                  .content
                    a.grey-text(href='http://forum.vidyanusa.id/login?access_token='+access_token,target='_blank')
                      i.talk.outline.icon
                      | Forum
                .item(style='padding:1em;')
                  .content
                    a.grey-text(href='http://lms.vidyanusa.id/',target='_blank')
                      i.book.icon
                      | LMS
                .item(style='padding:1em;')
                  .content
                  a.grey-text(href='http://portofolio.vidyanusa.id/',target='_blank')
                    i.user.icon
                    | Portofolio
          .eight.wide.column
            block main-middle
          .column
            block right-middle

      br
      footer.grey-text(align='center')= copyright
      block modal
    script.
      $('.ui.dropdown').dropdown()

      $('.nav-keluar').click(function(){
        document.location.href = '/keluar'
      })
      $('.nav-pengaturan').click(function(){
        document.location.href = '/member/siswa/pengaturan'
      })
      $('.ui.accordion').accordion()

      $('.ubah-data-akademik').click(function(){
        $('.ui.modal.ubah-institusi')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('#tambah-kelas').click(function(){
        $('.ui.modal.modal-tambah-kelas')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('#tambah-prestasi').click(function(){
        $('.ui.modal.modal-tambah-prestasi')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('#tambah-organisasi').click(function(){
        $('.ui.modal.modal-tambah-organisasi')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('#tambah-minat-bakat').click(function(){
        $('.ui.modal.modal-tambah-minat-bakat')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('#tambah-sertifikat').click(function(){
        $('.ui.modal.modal-tambah-sertifikat')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('#tambah-hobi').click(function(){
        $('.ui.modal.modal-tambah-hobi')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('#tambah-bahasa').click(function(){
        $('.ui.modal.modal-tambah-bahasa')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('#tambah-karya').click(function(){
        $('.ui.modal.modal-tambah-karya')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('#tambah-kelas-siswa').click(function(){
        $('.ui.modal.modal-tambah-kelas-siswa')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('#ganti-foto-profil').click(function(){
        $('.ui.modal.modal-ganti-foto-profil')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('.menu .item').tab()

      $("#tabel1").DataTable({
        "order": [[3,"desc"]],
        "pagingType": "full_numbers",
        "language": {
              "decimal":        "",
              "emptyTable":     "Tidak ada data yang tersedia di tabel",
              "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ masukan",
              "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 masukan",
              "infoFiltered":   "(Difilter dari _MAX_ total masukan)",
              "infoPostFix":    "",
              "thousands":      ",",
              "lengthMenu":     "Menampilkan _MENU_ masukan",
              "loadingRecords": "Menuat...",
              "processing":     "Sedang diproses...",
              "search":         "Pencarian:",
              "zeroRecords":    "Arsip tidak ditemukan",
              "paginate": {
              "first":      "Pertama",
              "last":       "Terakhir",
              "next":       "Lanjut",
              "previous":   "Kembali"
                  },
                  "aria": {
                  "sortAscending":  ": aktifkan urutan kolom ascending",
                  "sortDescending": ": aktifkan urutan kolom descending"
                  }
            }
      });
